<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="\stylesheets\admin\addMenu.css" type="text/css" />
  </head>

  <body>

    <div class="background"></div>

    <div class="header-container">
        <a><img id="logo" src="/images/home/LOGO-white.png" alt="" /></a>
        <table class="table-nav">
            <tr>
                <td><a href="order" id="section-nav">Order Manage</a></td>
                <td><a href="stock" id="section-nav">Stock Manage</a></td>
                <td><a href="add-menu" class="mainPage" id="section-nav">Add New Menu</a></td>
            </tr>
        </table>
    </div>

    <table>
      <tr>
          <td><p class="horizontal-line"></p></td>
          <td><h1>In Maintenance.</h1></td>
          <td><p class="horizontal-line"></p></td>
      </tr>
  </table>
  
</body>
</html>
