<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="\stylesheets\admin\login.css" type="text/css" />
  </head>

  <body>
    <div class="background"></div>
    <table>
        <tr>
            <td>
                <div class="wrapper">
                    <div class="card-switch">
                           <div class="flip-card__inner">
                              <div class="flip-card__front">
                                 <div class="title">Log in</div>
                                 <div class="flip-card__form">
                                    <input class="flip-card__input" name="name" id="username" placeholder="Username" type="text">
                                    <input class="flip-card__input" name="password" id="password" placeholder="Password" type="password">
                                    <button class="flip-card__btn" onclick="userCheck()">Let`s go!</button>
                                 </div>
                              </div>
                           </div>
                        </label>
                    </div>
                </div>  
            </td>
        </tr>
    </table>
  </body>

  <script src="\javascripts\admin\login.js"></script>

</html>
