<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="\stylesheets\en\collectpoint.css" type="text/css" />
  </head>

  <body>
    <div class="header-container">
        <a href="/en"><img id="logo" src="/images/home/LOGO-white.png" alt="" /></a>
        <a href="/th/order/collectpoint" id="lang" >EN</a>
      </div>

    <table id="nav">
      <tr>
          <td>
              Collect Point
          </td>
      </tr>
    </table>
    <div id="tel-input">

    <form action="/en/order/submit" method="post">

    <table id="calcu"> 
        <tr> 
            <td colspan="3"> 
                <input value="" type="text" id="result" name="tel_num" placeholder="Your phone num" readonly> 
            </td> 
        </tr> 
        
        <tr> 
            <td><input id="num1" type="button" value="1" onclick="getTelNum(id)" readonly></td> 
            <td><input id="num2" type="button" value="2" onclick="getTelNum(id)" readonly></td> 
            <td><input id="num3" type="button" value="3" onclick="getTelNum(id)" readonly></td> 
        </tr> 
        <tr> 
            <td><input id="num4" type="button" value="4" onclick="getTelNum(id)" readonly></td> 
            <td><input id="num5" type="button" value="5" onclick="getTelNum(id)" readonly></td> 
            <td><input id="num6" type="button" value="6" onclick="getTelNum(id)" readonly></td> 
        </tr> 
        <tr> 
            <td><input id="num7" type="button" value="7" onclick="getTelNum(id)" readonly></td> 
            <td><input id="num8" type="button" value="8" onclick="getTelNum(id)" readonly></td> 
            <td><input id="num9" type="button" value="9" onclick="getTelNum(id)" readonly></td> 
        </tr> 
        <tr> 
            <td></td>
            <td><input id="num0" type="button" value="0" onclick="getTelNum(id)" readonly></td> 
            <td><input id="delete" type="button" value="<" onclick="getTelNum(id)" readonly></td> 
        </tr> 
    </table> 
</div>

<table>
    <tr>
        <td class="back"><button class="button" type="button" onclick="backToPrevious()" style="vertical-align:middle">
        BACK
        </button></td>
        <td><button class="button" type="button" style="vertical-align:middle">
        CANCEL
        </button></td>
        <td class="next"><button class="button" type="submit" style="vertical-align:middle">
        SUBMIT
        </button></td>
    </tr>
</table>
</form>

</body>

  <script src="\javascripts\en\point.js"></script>

</html>
