<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/en/payment.css" type="text/css" />
  </head>

  <body>
    
    <div class="header-container">
        <a href="/en"><img id="logo" src="/picture/LOGO-white.png" alt="" /></a>
        <a href="/th"><img id="lang" src="/images/home/recommend.png" alt="" /></a>
    </div>
    <table id="nav">
        <tr>
            <td>
                Payment
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td colspan="4" class="point">
                <img class='use-point' src="/picture/txt-use-point.png" alt="">
            </td>
        </tr>
        <tr class="section">
            <td>
                <img class="pic" src="/picture/pay-money.png" alt="">
            </td>
            <td>
                <img class="pic" src="/picture/qr-codesjpg_800.jpeg" alt="">
            </td>
            <td>
                <img class="pic" src="/picture/truemoney_large_logo.jpg" alt="">
            </td>
            <td>
                <!-- <div class="tooltip-container">
                    <span class="tooltip">10 POINTS FREE 1 ITEM <br>( 100 BAHT )</span> -->
                    <span class="text"><img class="pic" src="/picture/use-point-logo.png" alt=""></span>
                <!-- </div> -->
            </td>
        </tr>
    </table>
    <button class="button" type="button" style="vertical-align:middle">
        BACK
    </button>

  </body>

  <script src="/javascripts/en/payment.js"></script>

</html>
