<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/th/payment.css" type="text/css" />
  </head>

<body>
    <div class="header-container">
        <a href="/th"><img id="logo" src="/images/home/LOGO-white.png" alt="" /></a>
        <a href="/en/order/payment" id="lang" >TH</a>
    </div>

    <div class="background"></div>

    <table id="nav">
        <tr>
            <td>
                การชำระเงิน
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td colspan="3" class="point">
                <img class='use-point' src="\images\payment\txt-use-point.png" alt="">
            </td>
        </tr>
        <tr class="section">
            <td>
                <a href="payment/cash"><img class="pic" src="\images\payment\pay-money.png" alt=""></a>
            </td>
            <td>
                <a href="payment/qrcode"><img class="pic" src="\images\payment\qr-codesjpg_800.jpeg" alt=""></a>
            </td>
            <td>
                <a href="payment/point"><span class="text"><img class="pic" src="\images\payment\use-point-logo.png" alt=""></span></a>
            </td>
        </tr>
    </table>
    <button class="button" type="button" onclick="backToCart()" style="vertical-align:middle">
        ย้อนกลับ
    </button>
</body>

<script src="\javascripts\th\payment.js"></script>
</html>